strict-ssl false
yarn-offline-mirror "./npm-packages-cache"
yarn-offline-mirror-pruning true
"registry" "https://artifactory.gcp.anz/artifactory/api/npm/npmjs-org/"
"@anz:registry" "https://artifactory.gcp.anz/artifactory/api/npm/anzdesignsystem-npm/"
